<!DOCTYPE html>
<html>
<head>
    <title>Create Product Offer</title>
</head>
<body>
    <h1>Create Product Offer</h1>
    <form action="/admin/create-offer" method="post">

        <label for="discountPercentage">Discount Percentage:</label>
        <input type="number" id="discountPercentage" name="discountPercentage" required><br><br>
         <input  type="hidden" name="product" value="{{product._id}}">
        <input type="submit" value="Create Offer">
    </form>
</body>
</html>
