<!DOCTYPE HTML>
<html>
	<head>
	<title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		
	<!-- <div class="colorlib-loader"></div> -->

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">Adminal Pannel</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
			            <form action="#" class="search-wrap">
			               <div class="form-group">
			                  <input type="search" class="form-control search" placeholder="Search">
			                  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
			               </div>
			            </form>
			         </div>
		         </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
						<ul>
								<li><a href="index.html">Admin Dashbord</a></li>
								<li class="has-dropdown">
									<a href="admin/allCategory">All Users</a>
                                    	<li><a href="about.html">Products</a></li>
								
								</li>
								
								<li><a href="about.html">Orders</a></li>
								
							</ul>
						
						</div>
					</div>
				</div>
			</div>
	
	
<body>
	<div class="card shadow mb-4">
              <div class="card-body">
				<div class="container d-flex justify-content-center">
                <div class="row col-10">
                  <div class="col-md-12">
                    <form action="/admin/addCoupon" method="POST" >
                      <div class="form-group mb-3">
                        <label for="simpleinput">Coupon Code</label>
                        <input type="text" name="couponCode" id="simpleinput" class="form-control" required/>
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Description</label>
                        <input type="text" name="couponDescription" id="simpleinput" class="form-control" required/>
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Discount</label>
                        <input type="text" name="discount" id="simpleinput" class="form-control" required/>
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Max Discount</label>
                        <input type="text" name="maxDiscount" id="simpleinput" class="form-control" required/>
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Min Amount</label>
                        <input type="text" name="minAmount" id="simpleinput" class="form-control" required/>
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Expiration Date</label>
                        <input type="date" name="expirationDate" id="simpleinput" class="form-control" required/>
                      </div>
                      <button type="submit" class="btn mb-2 btn-success">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
			  </div>
            </div>
</body>
</html>