<!DOCTYPE HTML>
<html>
	<head>
	<title>Admin Pannel</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		
	<!-- <div class="colorlib-loader"></div> -->

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">Admin Pannel</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
			            <form action="#" class="search-wrap">
			               
			            </form>
			         </div>
		         </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
									<li class="active"><a href="/admin"> Dashboard</a></li>
									<li class="active"><a href="/admin/productListing"> Product</a></li>
								<li><a href="/admin/allUsers">All Users</a></li>
								<li><a href="/admin/allCategory">All Category</a></li>
								<li><a href="/admin/admin-orderList">Orders</a></li>
								<li><a href="/admin/admin-coupons">Coupons</a></li>
									<li><a href="/admin/admin-orderList">OrderList</a></li>
									<li><a href="/admin/admin-banners">Banner</a></li>
							            
							
							</ul>
						
						</div>
					</div>
				</div>
			</div>



<section>

<div class="container mt-4">

<div class="row">

<div class="col-md-6">
    
    <h2 class="text-center">Edit Catgory</h2>

<form action="/admin/admincat-edit/{{categories._id}}" method="POST" onsubmit="return validateForm()"
 id="categoryForm">
  <label for="">Name</label>
  <input type="text" name="name" value="{{categories.name}}" class="form-control" id="category_name">
  <p id="categoryNameError" class="error-message" style="color: red;"></p>

  <label for="description">Description</label>
<textarea name="description" class="form-control" id="description"></textarea>
<p id="descriptionError" class="error-message" style="color: red;"></p>


  <button type="submit" class="btn btn-success mt-4">Submit</button>
</form>



</div>
</div>
</div>


</section>

<script>
            function validateForm() {
                const categoryname = document.getElementById('category_name').value;
                const description = document.querySelector('textarea[name="description"]').value;
   
                const categoryNameError = document.getElementById('categoryNameError');
                const descriptionError = document.getElementById('descriptionError');


                categoryNameError.textContent = '';
                descriptionError.textContent = '';
          

                const maxNameLength = 70;
                const maxDescriptionLength = 150;
                const allowedExtensions = ['.jpg', '.jpeg', '.png', '.gif'];
             

                let isValid = true;

                if (categoryname.trim() === '') {
                    categoryNameError.textContent = 'Category Name is required.';
                    isValid = false;
                } else if (categoryname.length > maxNameLength) {
                    categoryNameError.textContent = 'Category Name must not exceed ' + maxNameLength + ' characters.';

                    isValid = false;
                } else if (!categoryname.match(/^[a-z ,.'-]+$/i)) {
                    categoryNameError.textContent = 'Category name should not include special characters';
                    isValid = false;
                }

                if (description.trim() === '') {
                    descriptionError.textContent = 'Description is required.';
                    isValid = false;
                } else if (description.length > maxDescriptionLength) {
					descriptionError.textContent = 'Description must not exceed ' + maxDescriptionLength + ' characters.';

                    isValid = false;
                } else if (!description.match(/^[a-z ,.'-]+$/i)) {
                    descriptionError.textContent = 'Description should not include special characters'
                    isValid = false
                }
                if (!isValid) {
                    return false;
                }
                return true;
            }
        </script>
       

