<div style=" display: flex ; flex-direction: column; align-items: center; padding-left: 2rem; align-items: flex-start; width: 15%; border: 2px ; min-width: 180px; max-width:190px">
    <div style="padding-bottom: 1rem;">

        <div>
            <span><strong>CATEGORY</strong></span>
        </div>

        {{#each categories}}
        <label class="d-flex" style="align-items: baseline;">
        <input type="checkbox" class="category-control-input" data-category="{{this.name}}">
        <span class="text-black" style="padding: left; .5rem">{{this.name}}</span>
        </label>
        {{/each}}
        </div>

        

            <div>
                <span><strong>PRICE RANGE</strong></span>

            </div>
            <div>
                <label class="d-flex">
                    <input type="checkbox" class="price-control-input" data-range="lt15000">
                    <span class="text-black" style="padding: left: .5rem;">Under ₹15,000</span>

                </label>
                <label class="d-flex">
                    <input type="checkbox" class="price-control-input" data-range="lt40000">
                    <span class="text-black" style="padding-left: .5rem;">Under ₹15000 - ₹40,000</span>
                </label>

                  <label class="d-flex">
                    <input type="checkbox" class="price-control-input" data-range="lt80000">
                    <span class="text-black" style="padding-left: .5rem;">Under ₹40000 - ₹80,000</span>
                </label>

                  <label class="d-flex">
                    <input type="checkbox" class="price-control-input" data-range="lt1,50,000">
                    <span class="text-black" style="padding-left: .5rem;">Under ₹80000 - ₹1,50,000</span>
                </label>

                  <label class="d-flex">
                    <input type="checkbox" class="price-control-input" data-range="lt2,00,000">
                    <span class="text-black" style="padding-left: .5rem;">Under ₹1,50,000 - ₹2,00,000</span>
                </label>
            </div>

    </div>
        

