<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/productdetailspage.css">
    <link href="css/style.css" rel="stylesheet" />

    <title> </title>
</head>

<body>
    <nav class="sp-main-nav">
        <div class="sp-main-nav-container">
            <div class="sp-nav-left-items">
                {{!-- <a href="#" class="navbar-brand text-white"><img
                        src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/BRANDY_1x.png"
                        alt="brand-logo"></a> --}}
            </div>


            <div class="sp-nav-right-items">
                <a href="#">
                    <i class="fas fa-user"></i>
                </a>
                <a href="#">
                    <i class="fas fa-shopping-bag"></i>
                </a>
            </div>
        </div>
    </nav>
    <main class="sp-main">
        <div class="sp-product-details-container">
            <section class="sp-product-details">
               
                
                
                <div class="sp-product-image sp-show" id="space-gray">
                    <div class="sp-product-image-container">
                        <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-11-pro-space-select-2019?wid=470&hei=556&fmt=png-alpha&.v=1566954989577"
                            alt="iPhone Space Gray - both views" />
                        <div class="sp-product-offers">
                            <div class="sp-product-offer">
                                <i class="fas fa-box sp-offer-icon"></i>
                                <p class="sp-offer-description">Free delivery</p>
                            </div>
                            <div class="sp-product-offer">
                                <i class="fas fa-cog sp-offer-icon"></i>
                                <p class="sp-offer-description">Free personal setup</p>
                            </div>
                            <div class="sp-product-offer">
                                <i class="fas fa-exchange-alt sp-offer-icon"></i>
                                <p class="sp-offer-description">Free and easy returns</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sp-product-selection">
                    <h1 class="sp-product-title">Buy iPhone 111 Pro</h1>
                    <h3 class="sp-product-price">Form $999*</h3>

                    <div class="sp-variations-selection sp-finish-selection">
                        <h3 class="sp-section-subtitle">
                            Choose your finish.
                        </h3>
                        {{!-- <a class="sp-variation sp-selected" href="space-gray">
                            <i class="fas fa-circle sp-space-gray"></i>
                            <p>Space Gray</p>
                        </a> --}}
                     
                    </div>
                    <div class="sp-variations-selection sp-finish-selection">
                        <h3 class="sp-section-subtitle">
                            Choose your capacity.
                        </h3>
                        <a class="sp-variation sp-selected" href="#space-gray">
                            <h3>64GB</h3>
                            <p>$999</p>
                        </a>
                       
                       
                    </div>
                    <button class="sp-primary-button">
                        Add To Cart <i class="fas fa-shopping-bag"></i>
                    </button>
                    <button class="sp-primary-button">
                        Buy Now
                    </button>
                </div>

            </section>
        </div>
        <section class="sp-about-product sp-dark-section">
           
            <aside class="sp-iphone-banner">

            </aside>
        </section>
        <section class="sp-product-features sp-dark-section sp-gray-section">
            <h2 class="sp-section-title">
                Even more cool camera features.
            </h2>
            <div class="sp-product-features-list">
                <div class="sp-product-feature">
                    <h3 class="sp-feature-number">
                        40%
                    </h3>
                    <p class="sp-feature-description">
                        more light capture with Telephoto
                    </p>
                </div>
                <div class="sp-product-feature">
                    <h3 class="sp-feature-number">
                        36%
                    </h3>
                    <p class="sp-feature-description">
                        brighter True Tone flash with Slow Sync
                    </p>
                </div>
                <div class="sp-product-feature">
                    <h3 class="sp-feature-number">
                        Zero
                    </h3>
                    <p class="sp-feature-description">
                        shutter lag
                    </p>
                </div>
                <div class="sp-product-feature">
                    <h3 class="sp-feature-number">
                        6
                    </h3>
                    <p class="sp-feature-description">
                        more light capture with Telephoto
                    </p>
                </div>
                <div class="sp-product-feature">
                    <h3 class="sp-feature-number">
                        2x
                    </h3>
                    <p class="sp-feature-description">
                        more height for panos
                    </p>
                </div>
                <div class="sp-product-feature">
                    <h3 class="sp-feature-number">
                        OIS
                    </h3>
                    <p class="sp-feature-description">
                        optical image stabilization
                    </p>
                </div>
            </div>
        </section>
        <footer class="sp-footer">
            Copyright &copy; Apple 2020
        </footer>
    </main>

    <script src="js/productdetailspage.js"></script>
</body>

</html>