<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Camere Shutter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <header>
    <nav id="nav">
      <ul class="nav-common">
        <li><a href="/login">home</a></li>
        <li><a href="/login">products</a></li>
        <li><a href="/login">categories</a></li>
        <li><a href="#contact">contact</a></li>
        <li><a href="/login">login</a></li>
      </ul>
    </nav>

    <div id="header-hero">
      <div class="header-bg"> <img src="https://wallpapers.com/images/featured-full/dslr-camera-background-tpnqv4eprflkulj8.jpg"
          alt="header-image" /> </div>
      <div class="header-content">
        <p class="heading-1"></p>
        <p class="heading-1"></p>
        <p class="heading-1"></p>
      </div>
    </div>
  </header>


  <section id="products">
    <a href="/login">
      <div class="container">
        <div class="products-header">
          <h2>popular products</h2>
        </div>
        {{#each products}}
        <div class="product product-1">
          <figure> <img src="/product-images/{{this.Images}}" alt="product-image" style="width: 210px; height: 250px;">
            <figcaption>{{this.Name}}</figcaption>
            <figcaption>₹{{this.Price}}</figcaption>
          </figure>
        </div>
        {{/each}}
      </div>
    </a>





  </section>
  <section id="contact">
    <div class="container">
      <h4>cantact us</h4>
      <p>PixelCart - Floor 2 - Lulu Mall - KOCHI</p>
      <p>+ (91) 8111800085</p>
      <p>PixelCart@gmail.com</p>
    </div>
  </section>
  <footer>
    <p class="copy-right"><img
        src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png"
        alt="copy right image" /> 2023 all right recievd </p>
    <p>privacy policy</p>
    <p>license</p>
  </footer>
  <div class="back-to-top"><a href="#nav"> <img title="Back to Top."
        src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/back_-_top_1x.png"
        alt="back to top"></a> </div>
</body>

</html>