<!DOCTYPE HTML>
<html>
	<head>
	<title>Camera Shutter</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		
	<!-- <div class="colorlib-loader"></div> -->

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html" style="color: black;">Camera Shutter</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
			            <form action="#" class="search-wrap">
			               <div class="form-group">
			                  <input type="search" class="form-control search" placeholder="Search">
			                  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
			               </div>
			            </form>
			         </div>
		         </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li class="active"><a href="/">Home</a></li>
								<li><a href="/" style="color: black;">Products</a></li>
								<li><a href="/userDetails" style="color: black;">User Profile</a></li>
								<li class="cart"><a href="/carts"><i class="icon-shopping-cart"></i> Cart</a></li>
								<li class="cart"><a href="/logout"><i class="icon-switch"></i> Logout</a></li>             
							
							</ul>
						
						</div>
					</div>
				</div>
			</div>
	
		

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            {{!-- <span id="lottie-container" style="width="10%",this.svgElement.style.height="10%""></span> --}}
             <div id="lottie-container" style="width: 20%; margin-left: 40%;"></div>
            <h2 class="display-3 text-black" style="color: black;">Thank you!</h2>
            <p class="lead mb-5" style="color: black;">You order was successfuly completed.</p>
            <p><a href="/" class="btn btn-sm btn-primary" >Back to shop</a></p>
              <p><a href="/orderDetails" class="btn btn-sm btn-primary">Go to OrderList</a></p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"
    integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const container = document.querySelector('#lottie-container');
          const animation = lottie.loadAnimation({
            container: container,
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: '/animations/animation_ll3czi2t.json',
        });
    </script>