<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/signupstyle.css">
    <title>Slider Form</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up-container">
        
        </div>
        <div class="form-container sign-in-container">
            <form action="/send-reset-otp" method="POST">

                <h1>Log In</h1>
                 <input type="mobile" name="mobile" class="form-control"  placeholder="enter mobile no">
                <label for="mobile">Mobile Number</label>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
     
    </div>
    <script src="/javascripts/signup.js"></script>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
</body>

</html>
{{!-- <script>
    const passwordInput = document.getElementById('passwordInput');
    const confirmPasswordInput = document.getElementById('confirmPasswordInput');
    const passwordError = document.getElementById('passwordError');
    const signupForm = document.getElementById('signupForm');

    signupForm.addEventListener('submit', function(event) {
        if (passwordInput.value !== confirmPasswordInput.value) {
            event.preventDefault(); // Prevent form submission
            passwordError.textContent = "Passwords do not match. Please try again.";
        }
    });
</script> --}}