<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/signupstyle.css">
    <title>Login Form</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/verify" method="post" onsubmit="return validateMobile()">
                <h1>Create Account</h1>
                <input type="text" name="mobileNumber" id="mobileNumber" placeholder="Mobile">
                <div id="mobileError" style="color: red;"></div>
                <button>Verify</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="POST" onsubmit="return validateEmailPassword()">
                {{#if loginErr}}
                <p class="text-white">Invalid UserName or Password</p>
                {{/if}}
                <h1>Log In</h1>
                <input type="email" name="email" id="email" placeholder="Email">
                <div id="emailError" style="color: red;"></div>
                <input type="password" name="password" id="password" placeholder="Password">
                <div id="passwordError" style="color: red;"></div>
                <button>Log In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back</h1>
                    <p>To keep connected with us, please login</p>
                    <button class="ghost" id="signIn">Log In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Get Started</h1>
                    <p>Please enter your Mobile number</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                    {{!-- <a href="/forgetpassword">Forget password</a> --}}
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/signup.js"></script>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
    <script>
        function validateEmailPassword() {
            var emailInput = document.getElementById("email");
            var passwordInput = document.getElementById("password");
            var emailValue = emailInput.value;
            var passwordValue = passwordInput.value;

            var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

            if (!emailRegex.test(emailValue)) {
                document.getElementById("emailError").textContent = "Please enter a valid email address.";
                return false;
            } else {
                document.getElementById("emailError").textContent = "";
            }

          
            if (passwordValue.length < 3 || passwordValue.length > 8) {
                document.getElementById("passwordError").textContent = "Password must be between 3 and 8 characters.";
                return false;
            } else {
                document.getElementById("passwordError").textContent = "";
            }

            return true;
        }

       function validateMobile() {
    var mobileInput = document.getElementById("mobileNumber");
    var mobileValue = mobileInput.value;

 
    var digitsOnly = mobileValue.replace(/\D/g, "");

  
    var uniqueNumbers = new Set(digitsOnly);
    if (uniqueNumbers.size < 5) {
        document.getElementById("mobileError").textContent = "Please enter a valid digits in your mobile number.";
        return false;
    } else {
        document.getElementById("mobileError").textContent = "";
    }

    return true;
}
    </script>
</body>
</html>
